@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  height: calc(100vh - 70px);
  display: flex;
  background-color: #f9f9f9;
}

/* Sidebar */
.side-bar {
  height: 100%;
  width: 17%;
  background-color: white;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
}

.left {
  display: flex;
  align-items: center;
}

.left #menu {
  padding: 0 7px;
  cursor: pointer;
}

.search {
  display: flex;;
}

.search form {
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
}

.search input {
  width: 600px;
  padding: 10px;
  border: 0;
  height: 100%;
  border-radius: 2px 0 0 2px;
}

input:focus {
  outline: none;
  border: 1px solid #ddd;
}

.search button {
  height: 100%;
  width: 60px;
  border: none;
}

.mic {
  margin-top: 10px;
}

.material-icons {
  color: rgb(100, 100, 100);
  padding: 0 7px;
  cursor: pointer;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.nav-link span {
  margin-left: 15px;
}

.nav-link:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.active {
  background: #e5e5e5;
}

hr {
  height: 2px;
  background-color: #d4cbcb;
  border: none;
}

.content {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video {
  width: 270px;
  margin-bottom: 30px;
}

.thumbnail {
  width: 100%;
  height: 170px;
}

.thumbnail img {
  object-fit: cover;
  height: 94%;
  width: 100%;
}
.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.details {
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 12px;
}

@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
  .search {
    display: none;
  }
}

@media (max-width: 900px) {
  .search input {
    width: 25rem;
  }
}
.links {
  width: 1rem;
  height: 1rem;
}

#sub {
  color: gray;
  font-size: large;
}

#nt {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
button {
  background-color: #e5e5e5;
  border-radius: 150px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-right: 1px;
  word-wrap: none;
  box-sizing: border-box;
  height: 40px;
  width: 100px;
}
#all {
  background-color: black;
  color: #ddd;
}


.img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

#i1 {
  height: 180px;
}
#i2 {
  width: 260px;
  height: 180px;
}
#i3 {
  width: 250px;
  height: 180px;
}
#i4 {
  width: 250px;
  height: 180px;
}

.mg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: o i.5rem;
  border-top: 4px solid #ccc;
}

.video-section:first-child {
  border-top: none;
}

.video-container {
  display: flex;
  flex-direction: column;
  height: 180px;
  margin-top: 20px;
}
.video-box {
  position: relative;
  display: flex;
}
.video-box::before {
  content: attr(data duration);
  position: absolute;
  background-color: black;
  color: #ccc;
  right: 5px;
  bottom: 5px;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-size: 9rem;
}

.video-bottom-section {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.video-box-image {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #aaa;
}

.channel-icon {
  margin-right: 0.75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #aaa;
}

.video-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form{display: flex;flex-direction: row;justify-content: space-between;align-items: center;}
button1{background-color: #e5e5e5(241, 238, 238);height: 44px;width: 55px;text-align: center;}
.video-title {
  font-size: 1.1rem;
  font-weight: none;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: black;
}



.video-channel{text-decoration: none;
  color: #111;}

.video-channel-name {
  margin-bottom: 0.1rem;
  text-decoration: none;
  color: #555;
}
#mic{background-color: rgb(243, 236, 236);border-radius: 50%;text-align: center;}

.video-channel-name:hover {
  color: #111;
}

.video-metadata {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#sub {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  justify-content: space-evenly;
  justify-content: flex-start;
  margin-left: 20px;
  text-decoration: none;
}

#sst {
  color: rgb(99, 97, 97);
  padding: 8px 24px;
  font-size: medium;
}

.video-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#order {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.images {
  height: 180px;
}

#x {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
}

#g {
  background-color: #aaa;
  left: o;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

#ge {border: 1px solid#ccc;
  color: rgb(124, 123, 123);
  font-size: 12px;
}

#h {
  margin-left: 10px;
  font-size: 13px;
}
